.text-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-field label {
  color: #212121;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.text-field input {
  width: 100%;
  padding: 30px 12px;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border: none;
  color: #a4a4a4;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
